body {
  background: blanchedalmond;
  margin: 0;
}

* {
  outline: 1px solid red;
}

.a {
  background: rgb(158, 158, 221);
  flex-grow: 2;
}

.b{
  background: salmon;
  flex-grow: 10;
}

.c {
  background: khaki;
  flex-grow: 2;
}

.container {
  font-size: 2em;
  display: flex;
  height: 100vh;
  color: black;
  text-align: center;
  flex-direction: column;
}

@media (min-width: 600px){

  .container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .a {
    width: 100%;
    display: flex;
  
  }

  .b{
    
  }
}